glpi-service/node_modules/
glpi-service/dist/
glpi-service/.env
glpi-service/.env.local
glpi-service/.env.*.local
glpi-service/logs/
glpi-service/*.log
glpi-service/.DS_Store
glpi-service/Thumbs.db
glpi-service/.vscode/
glpi-service/.idea/

zap-service/node_modules/
zap-service/dist/
zap-service/.env
zap-service/.env.local
zap-service/.env.*.local
zap-service/.env
zap-service/logs/
zap-service/*.log
zap-service/.DS_Store
zap-service/Thumbs.db
zap-service/.vscode/
zap-service/session
zap-service/session/session/Default
zap-service/.idea/
zap-service/.wwebjs_cache/

