# Dependências e builds
**/node_modules/
**/dist/

# Variáveis de ambiente
**/.env
**/.env.local
**/.env.*.local

# Logs e caches
**/logs/
**/*.log
**/.wwebjs_cache/

# Sessões temporárias
**/session/
**/session/** 


# IDE e editores
**/.vscode/
**/.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de cache / sessão
*.log
*.ldb
*.db
*.old
MANIFEST-*
Cookies
QuotaManager
data_*
LOG*
the-real-index
